<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>21 Cineplux</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Bioskop</h2>
                <br>
                <form th:action="@{/bioskop/add/}" th:object="${bioskop}" method="POST">

                    Nama Bioskop : <br>
                    <input required class="form-control" type="text" name="namaBioskop" th:value="${bioskop.namaBioskop}" />
                    <br><br>

                    Alamat Bioskop: <br>
                    <input required class="form-control" type="text" name="alamatBioskop" th:value="${bioskop.alamatBioskop}" />
                    <br><br>

                    Jumlah Studio : <br>
                    <input required min="0" class="form-control" type="number" name="jumlahStudio" th:value="${bioskop.jumlahStudio}" />
                    <br><br>

                    Waktu Buka : <br>
                    <input required class="form-control" type="time" name="waktuBuka" th:value="${bioskop.waktuBuka}" />
                    <br><br>

                    Waktu Tutup : <br>
                    <input required class="form-control" type="time" name="waktuTutup" th:value="${bioskop.waktuTutup}" />
                    <br><br>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nama Film</th>
                            <th>
                                <button class="btn btn-primary" type="submit" name="plusRow">Tambah Row</button>
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="filmBioskop, iterationStatus: *{listFilm}">
                            <td>
                                <select th:field="*{listFilm[__${iterationStatus.index}__].noFilm}" class="form-control">
                                    <option th:each="film : ${listFilmAll}"
                                            th:value="${film.noFilm}"
                                            th:text="${film.namaFilm}">
                                    </option>
                                </select>
                            <th>
                                <button class="btn btn-danger" th:value="${iterationStatus.index}" name="minRow" type="submit">Delete</button>
                            </th>
                            </td>
                            <td th:text="${bioskop.noBioskop}"></td>
                        </tr>
                        </tbody>


                    </table>


                    <button class="btn btn-primary" type="submit" name="submitBioskop">Submit</button>
                    <a class="btn btn-primary" href="/">Home</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>