<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6YvooHppcZGetbYMGWSFIBWSHfCJo="
            crossorigin="anonymous"
    ></script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script th:sre="@{/js/bootstrap.min.js}"></script>
</head>


<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand font-weight-bold text-warning" href="#">21Cineplux</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <a class="nav-item nav-link active text-secondary" th:href="@{/}">
                Home <span class="sr-only">(current)</span>
            </a>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/bioskop/view}" method="GET">
            <input class="form-control mr-sm-2" type="search"
                   name="noBioskop" placeholder="No Bioskop" aria-label="Search">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="d-flex justify-content-center">
    <div class="m-4">
        <h2>Selamat datang di 21Cineplux</h2>
        <div class="d-flex justify-content-center">
            <a th:href="@{/bioskop/viewall}" class="mx-2 btn btn-warning">Lihat semua bioskop</a>
            <a th:href="@{/bioskop/add}" class="mx-2 btn btn-outline-warning">Tambah bioskop</a>
        </div>
        <div class=" my-3 d-flex justify-content-center">
            <a th:href="@{/film/viewall}" class="mx-2 btn btn-warning">Lihat semua film</a>
            <a th:href="@{/film/add}" class="mx-2 btn btn-outline-warning">Tambah film</a>
        </div>
    </div>
</div>
</body>

</html>