<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>21 Cineplux</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar (pagetitle='View All')"></nav>
<div class="container">
    <h2>Daftar Seluruh Bioskop</h2>
    <h1 th:text="${user.getRole().getRole()}"></h1>
    <a th:if="${user.getRole().getRole() == 'ADMIN'}" class="btn btn-warning" th:href="@{/bioskop/add}">+ Tambah Bioskop</a>
        <table class="table">
            <div th:switch="${user.role}">
                <p th:case="'ADMIN'">User is an administrator</p>
                <p th:case="#{roles.manager}">User is a manager</p>
                <p th:case="*">User is some other thing</p>
            </div>
            <thead>
            <tr>
                <th>No</th>
                <th>Nomor Bioskop</th>
                <th>Nama Bioskop</th>
                <th>Alamat Bioskop</th>
                <th>Jumlah Studio Bioskop</th>
                <th>Waktu Buka Bioskop</th>
                <th>Waktu Tutup Bioskop</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
        <tbody>
        <tr th:each="bioskop, iterationStatus : ${listBioskop}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${bioskop.noBioskop}"></td>
            <td th:text="${bioskop.namaBioskop}"></td>
            <td th:text="${bioskop.alamatBioskop}"></td>
            <td th:text="${bioskop.jumlahStudio}"></td>
            <td th:text="${bioskop.waktuBuka}"></td>
            <td th:text="${bioskop.waktuTutup}"></td>
            <td><a class="btn btn-primary" th:href="@{/bioskop/view(noBioskop=${bioskop.noBioskop})}">lihat</a></td>
            <td th:if="${user.getRole().getRole() == 'ADMIN'}"><a class="btn btn-primary" th:href="@{/bioskop/update/} + ${bioskop.noBioskop}">ubah</a></td>
            <td th:if="${user.getRole().getRole() == 'ADMIN'}"><a class="btn btn-danger" th:href="@{/bioskop/delete/} + ${bioskop.noBioskop}">hapus</a></td>
        </tr>
        </tbody>
        </table>
    <a class="btn btn-primary" href="/">Home</a>
</div>

</body>

</html>